body{
    background-color: rgb(56, 199, 247);
    font-family: monospace;
    text-align: center;
}

header{
    color: white;
}

section{
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    width: 400px;
    margin: auto;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.5);
    text-align: left;
}

footer{
    margin-top: 10px;
    color: white;
    font-style: italic;
    
}

div{
    text-align: center;
    padding: 8px;
}

img{
    width: 250px;
}