@charset "UTF=8";

*{
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: white;
}

::-webkit-scrollbar{
    width: 0px;
    height: 0px;
}

img{
    width: 100vw;
}

a{
    display: block;
    color: white;
    background-color: darkred;
    text-align: center;
    font-weight: 900;
    text-decoration: none;
    width: 100px;
    margin: auto;
    border-radius: 10px;
    height: 20px;
    padding-top: 5px;
}

a:hover{
    background-color: red;
}